/* App-specific Styles */
.mt-5 {
  margin-top: 50px !important;
}

.input-group {
  width: 100% !important;
  max-width: 600px !important;
  margin: 0 auto !important;
}

.input-group .form-control::placeholder {
  color: #ffffff !important;
}

.card {
  background-color: #181818 !important; /* Dark background for the card */
  border: 1px solid transparent !important;
  border: none !important;
  color: #fff !important;
  /* transition: transform 0.3s ease !important; */
  transition: transform 0.3s ease, box-shadow 0.3s ease !important;
  box-shadow: 0 0 5px #1db954 !important; /* Subtle green glow by default */
}

.card:hover {
  /* transform: scale(1.05) !important;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5) !important; */
  transform: scale(1.05) !important; /* Zoom effect on hover */
  box-shadow: 0 0 15px #1db954 !important; /* Increased green glow effect on hover */
}

.card-title {
  font-size: 1.2rem !important;
  font-weight: 600 !important;
  color: #fff !important;
}

.card-text {
  font-size: 0.9rem !important;
  color: #b3b3b3 !important; /* Lighter gray text */
}

.card-body {
  padding: 1.5rem !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: space-between !important;
}

.card-img-top {
  border-radius: 0.5rem !important;
}

.input-group .form-control {
  background-color: #282828 !important;
  color: #fff !important;
  border: 1px solid #333 !important;
}

.input-group .form-control:focus {
  border-color: #1db954 !important;
  box-shadow: 0 0 5px rgba(29, 185, 84, 0.5) !important;
}

.btn-primary {
  background-color: #1db954 !important; /* Spotify green */
  border-color: #1db954 !important;
  text-decoration: none !important;
}

.btn-primary:hover {
  background-color: #1aa34a !important;
  border-color: #1aa34a !important;
  text-decoration: none !important;
}

.row-cols-1,
.row-cols-md-2,
.row-cols-lg-4 {
  margin-top: 30px !important;
}

.spinner-border {
  border-top-color: #1db954 !important; /* Green spinner color */
}
